.swiper-container {
  width: 600px;
  height: 300px;
}

#slider {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  transition: width 2s;
}

#slider.clicked {
  width: 200px;
}

.form-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}
